<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Página Não Encontrada - 404</title>
</head>
<body>
    <div class="container">
       <center> <div class="error-code">404</div>
        <div class="message">Oops! Página Não Encontrada.</div>
        <p>Desculpe, mas não conseguimos encontrar o que você está procurando.</p>
        <a href="/" class="btn">Voltar para a Página Inicial</a></center>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    </div>
</body>
</html>
