<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionário de História</title>
</head>
<body>
    <h1>Questionário de História Básica</h1>
    <form action="#" method="post">
        <label for="pergunta1">1. Qual o primeiro mes do ano?</label><br>
        <input type="text" id="pergunta1" name="pergunta1" required><br><br>

        <label for="pergunta2">2. Em que ano o Ifsp passou a ser dificil?</label><br>
        <input type="text" id="pergunta2" name="pergunta2" required><br><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>
